
footer.footer
  .inner
    .footer__container
      +ui-button('Начать использовать')(href='https://www.npmjs.com/package/chart-master' target='_blank')
      +ui-button('Документация')(href='https://and-sheera.github.io/chart-master/' target='_blank')
