// fonts
$font: 'Jost', 'Arial', sans-serif;

// colors
$black: #0c0c0c;
$orange: #fe5000;
$teal: #008080;
$blue: #3c7eff;

// media
$mediaWidthLaptop: 1250px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
