header.header
  .inner
    a.header__logo(href='/')
      +svg('icon_logo')
    .header__links
      a.header__link(href='https://www.npmjs.com/package/chart-master' target='_blank')
        +svg('icon_npm')
      a.header__link(href='https://github.com/and-sheera/chart-master' target='_blank')
        +svg('icon_github')

